@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 1rem auto;
  width: 375px;
}

.content {
  background: url('./images/bg-mobile.svg'), rgba(104, 75, 177, 1);
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.huddle {
  background: url('./images/logo.svg');
  background-repeat: no-repeat;
  background-size: 33%;
  background-position: 15% 60%;
  height: 90px;
}

.image {
  background: url('./images/illustration-mockups.svg');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 50%;
  height: 215px;
  margin-top: 2.1rem;
}

.media {
  height: 28px;
  width: 103px;
}

/* .media li {
  background-color: #fff;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  color: black;
} */

.twitter {
  color: #fff;
  font-size: 10px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 50%;
}

/* .twitter-f {
  background-color: #fff;
  color: black;
} */